html,
body {
  font-family: "Jost", serif;
}

.fs-10 {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

.mb-50 {
  margin-bottom: 13rem;
}

.circle-number {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
}

.class-box {
  border: 3px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.class-box.selected {
  border-color: #bbb;
  background-color: rgba(126, 126, 126, 0.05);
}

.btn {
  border: 3px solid #9f7360;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  color: white !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.btn-primary:hover {
  color: black !important;
  background: white;
  border: 3px solid black;
}

.btn-primary {
  color: white;
  background: #9f7360;
}

.boat-deck {
  border: 3px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 20px;
}

.boat-deck.selected-deck {
  border-color: #bbb;
  background-color: rgba(126, 126, 126, 0.05);
}

.line-with-circle {
  width: 3px;
  height: 70px;
  background-color: #888;
  margin: 50px auto;
  position: relative;
}

.line-with-circle::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #888;
  border-radius: 50%;
}

.img-container {
  position: relative;
  aspect-ratio: 1.618;
  overflow: hidden;
  display: inline-block;
}

.img-container img {
  display: block;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/Vanderbilt-V31TX-QS-09047.jpg") no-repeat center
    center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover::before {
  opacity: 1;
}

.img-container2 {
  position: relative;
  aspect-ratio: 1.618;
  overflow: hidden;
  display: inline-block;
}

.img-container2 img {
  display: block;
}

.img-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/L23UL-Hero.jpg.webp") no-repeat center center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container2:hover::before {
  opacity: 1;
}

@media (max-width: 992px) {
}
